.impressum-wrapper {
  padding-top: 8rem;
  max-width: 800px;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 400px) {
  .impressum-wrapper {
    margin: 0 2rem;
    transform: translateX(0%);
  }
}
