.hamburger-active-header {
  max-height: 20vh;
  transition: max-height 200ms ease;
}

.hamburger {
  display: none;
  margin-top: 0.8rem;
  margin-right: 0.6rem;
}

.hamburg {
  width: 60px;
  height: 50px;
}

.line {
  position: absolute;
  left: 10px;
  height: 4px;
  width: 55px;
  background: #fff;
  border-radius: 2px;
  display: block;
  transition: 200ms ease;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 12px;
}
.line:nth-child(2) {
  top: 24px;
}
.line:nth-child(3) {
  top: 36px;
}

.hamburg.checked .line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

.hamburg.checked .line:nth-child(2) {
  opacity: 0;
}

.hamburg.checked .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

@media (max-width: 740px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
