.offer-wrapper {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.offer-offers-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.offer-daily {
  flex: 1 1 200px;
  display: flex;
  flex-flow: column wrap;
  margin: 0 0.5rem 1.5rem 0.5rem;
  justify-content: center;
}

.offer-day {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.offer-desc {
  text-align: center;
}

.offer-disclaimer {
  margin-top: 2rem;
  text-align: center;
}
